* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  background-color: #6f6af7;
  padding: 0.5rem 2rem;
  align-items: center;
  color: #fff;
}
nav .title {
  font-size: 3rem;
  font-family: Delius Unicase;
}
nav .links {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-family: DM sans;
  justify-content: space-between;
}
nav img {
  height: 2rem;
}
nav a {
  color: #fff;
}
nav input {
  height: 2rem;
  width: 15rem;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1rem;
}
.sticky {
  display: absolute;
  position: fixed;
  top: 0;
  width: 100%;
}
.top_container {
  font-size: 5rem;
  padding-top: 4rem;
  margin: 4rem 4rem 0;
  height: 100vh;
  /* padding-bottom: 0; */
}
.top_container .image_text {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  padding: 0 10rem;
    height: 60%;
  /* height: ; */
  /* background-color: blue; */
}
.top_container .image_text img {
  height: 75%;
}
.top_container .image_text textarea {
  height: 75%;
  font-family: DM sans;
  color: #6f7373;
  border: 6px solid #fff;
  border-radius: 1rem;
  background-color: #e5d8ff;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 2rem;
  font-size: 1.5rem;
  resize: none;
}
textarea:focus {
  outline: none;
}
.card_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 6rem;
  flex-shrink: 0;
  /* background-color: #929DFF; */
}
.card_container .card{
    /* border: 1px solid black; */
    width: 23%;
    border-radius: 11px;
    font-size: 1.6rem;
    height: auto;
    padding: 1rem;
    font-family: DM sans;
    font-weight: 700;
    color: white;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    background-color: beige;
}
.card_container .one{
    background-color: #929DFF;
}
.card_container .two{
    background-color: #734CF2;
}
.card_container .three{
    background-color: #D288FF;
}
.card_container .four{
    background-color: #000;
}
.info_container{
    /* margin: 0 1rem 5rem; */
    margin: 0 10rem 2rem;
  border: 1px solid black;
  height: 70vh;
  background-color: #483EFF;
  border-radius: 21px;

}
.inner_container{
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 3fr;
    margin: 0 6rem;
    height: 80%;
    /* width: 70%; */
}
.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2rem;
    text-align: center;
    /* gap: 1px; */
    /* width: 15rem; */
    padding: 1.5rem 0;
}
.tab{
    display: flex;
    border: 4px solid white;
    margin: 1rem;
    text-align: center;
    margin: 2rem;
    height: 5.5rem;
    background-color: #fff;
    color: white;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    width: 20rem;
    background-color: #483EFF;
    font-family: DM sans;
    font-weight: 600;
    letter-spacing: 1px;
    /* flexgap: 10px; */
}
.tabone{
    background-color: #BCE0F6;
    color: #000;
    border: none;
}
.info{
    margin: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 19px;
    padding: 3rem;
}
.heading{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}
.information{
    padding: 0 2rem;
    font-family: Roboto;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 2px;
}
.next{
    padding-right: 1rem;
    margin-top: 5.5rem;
    float: right;
    bottom: 0;
}
button{
height: 2.5rem;
width: 7rem;
color: #fff;
background-color: #000;
border-radius: 10px;
font-size: 1.2rem;
}
.float{
	position:fixed;
	width:30px;
	height:30px;
	bottom:6rem;
	right:11rem;
	/* background-color:#0C9; */
	/* color:#FFF; */
	/* border-radius:50px; */
	text-align:center;
	/* box-shadow: 2px 2px 3px #999; */
}
.my-float{
    height: 120px;
}
.fb{
  height: 5.3rem;
  padding-bottom: 1rem;
}
.tw{
  height: 5.3rem;
  padding-bottom: 1rem;
}
.wp{
  border: 3px solid black;
  border-radius: 11px;
  height: 4.3rem;
  width: fit-content;
  /* display: flex;
  justify-content: center; */
  margin-bottom: 1rem;
  right: 0rem;
}
.socialicons{
  height: 10rem;
  display: flex;
  justify-content: right;
  top: 10rem;
  z-index: 99;
  
}
.icons{
  display: flex;
  flex-direction: column;
  height: inherit;
}
.float2{
  position:fixed;
	width:20px;
	height:20px;
	top:10rem;
	right:3.2rem;
	/* background-color:#0C9; */
	/* color:#FFF; */
	/* border-radius:50px; */
	text-align:center;
}